<div>
    Beste {{firstName}} {{lastName}},<br>
    <br>
    Helaas is je lidmaatschap verlopen... Natuurlijk willen we niet dat je weg gaat of je de kans ontnemen om een nieuw lidmaatschap te nemen bij Salve Mundi!<br>
    Dus om je lidmaatschap te verlengen, <a href="{{baseUrl}}renew?token={{token}}">klik hier!</a><br>
    <br>
    Met vriendelijke groeten,<br>
    Bestuur Salve Mundi
</div>