@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");

@font-face {
  font-family: "Portico Regular";
  src: url("/assets/fonts/Portico Regular.otf") format("truetype");
}

@font-face {
  font-family: "Portico Rounded";
  src: url("/assets/fonts/Portico Rounded.otf") format("truetype");
}
