* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
}

h2 {
  font-family: "Portico Rounded", sans-serif;
  font-size: 24px;
  color: #663265;
}

h5 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
}
